/* Buttons as links */
.btn {
    padding: 10px;
    border-radius: 3px;
    font-size: 0.26em;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 20px;
    &__text {
      cursor: pointer;
      font-size: 18px;
      display: inline;
    }
    &__icon {
      margin-left: 5px;
    }

  &--medium {
    padding: 10px 25px;
  }
}

.switch-wrap {
  cursor: pointer;
  background: map-get($colors, primaryColor);
  padding: $padding;
  width: $width;
  height: $height;
  border-radius: $height / 2;
  margin-bottom: 0;
  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: .2s;
  //ICYMI, pseudo elements are treated as grid items
  &::after {
    content: '';
    border-radius: 50%;
    background: #ccc;
    grid-column: 2;
    transition: background .2s;
  }
}
input:checked {
  + .switch {
    grid-template-columns: 1fr 1fr 0fr;
    &::after {
      background-color: #52cf71;
    }
  }
}
