.infocard {

  $self: &;

  &__header {

    padding: 4px;
    border-bottom: 1px solid;
    display: inline-block;
    width: 100%;

    #{$self}__title {
      float: left;
      display: inline-block;
      small {
        float:right;
        margin-left: 10px;
      }
      h4 {
        float: left;
      }
    }

    #{$self}__info {
      float: right;
      display: inline-block;
    }

  }

  &__item {
    font-size: 20px;
  }

  &__status {
    i{
      display: block;
      padding: 8px;
      margin-right: 6px;
      color: #d67070;
    }
  }

}
