// Typography

$default-font-family: 'Comfortaa', sans-serif;

$title-font-family: "Abril Fatface", cursive;

$base-font-size: calc(1em + 1.5vw);

$default-anchor-size: 0.2em;

$default-text-size: 0.25em;

// Colors
$colors:(
primaryColor: #041f1e,
secondaryColor: #1e2d2f,
gradientColorFirst: #f7dba7,
gradientColorSecond: #f1ab86,
extraColor: #c57b57,
);

/* Header */
$header-height: 40px;

$width: 53px;
$padding: 5px;
$height: $width / 2 + $padding;
