@import url(https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap);@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500&display=swap);/* Config sass */

/* Header */

html,
body {
  height: 100%;
}

:root {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

/**
 * Usage:  has-background-color-[colorname]
 */

.has-background--color-primaryColor {
  background-color: #041f1e;
  border-color: #041f1e;
}

.has-background--color-secondaryColor {
  background-color: #1e2d2f;
  border-color: #1e2d2f;
}

.has-background--color-gradientColorFirst {
  background-color: #f7dba7;
  border-color: #f7dba7;
}

.has-background--color-gradientColorSecond {
  background-color: #f1ab86;
  border-color: #f1ab86;
}

.has-background--color-extraColor {
  background-color: #c57b57;
  border-color: #c57b57;
}

/**
 * Usage:
 */

/* font & color setup */

/* For headings and titles */

/* For regular fonts */

html,
body {
  font-family: "Comfortaa", sans-serif;
  font-size: calc(1em + 1.5vw);
  color: #f7dba7;
}

label,
input,
code,
small,
li,
blockquote,
figcaption {
  font-family: "Comfortaa", sans-serif;
  font-size: 0.25em;
  display: block;
}

a {
  font-size: 0.2em;
  color: #041f1e;
  display: block;
}

a:hover {
  color: #041f1e;
}

.link {
  font-size: 18px;
  color: inherit;
}

span,
p {
  font-size: 0.25em;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Abril Fatface", cursive;
  background: linear-gradient(to bottom, #f7dba7 0%, #f1ab86 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.2em;
  line-height: 20px;
}

h2 {
  font-size: 0.7em;
  line-height: 20px;
}

h3 {
  font-size: 0.4em;
  line-height: 40px;
}

h4 {
  font-size: 0.3em;
  line-height: 30px;
}

.text {
  margin-bottom: 15px .text --special;
}

.col-md-3.border--right::after {
  border-right: 1px solid;
  content: " ";
  position: absolute;
  right: 0;
  display: block;
  top: -40px;
  height: 170%;
  right: 63px;
}

.link {
  transition: all 0.5s ease;
}

.link--inline {
  display: inline;
}

.link--highlighted {
  color: #041f1e;
  padding: 5px;
}

.content {
  display: inline-block;
  width: 100%;
  padding: 8px 14px;
}

li .content {
  background-color: #1c3438;
}

.installer-block {
  max-width: 600px;
  background-color: #131f21;
  padding: 20px;
}

span.invalid-feedback.active {
  display: block;
  font-size: 15px;
  margin-top: 12px;
}

/* Components */

/* Buttons as links */

.btn {
  padding: 10px;
  border-radius: 3px;
  font-size: 0.26em;
  display: block;
  transition: all 0.5s ease;
  font-size: 20px;
  color: #041f1e;
}

.btn__text {
  cursor: pointer;
  font-size: 18px;
  display: inline;
}

.btn__icon {
  margin-left: 5px;
}

.btn--medium {
  padding: 10px 25px;
}

.switch-wrap {
  cursor: pointer;
  background: #041f1e;
  padding: 5px;
  width: 53px;
  height: 31.5px;
  border-radius: 15.75px;
  margin-bottom: 0;
}

.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 0.2s;
}

.switch::after {
  content: "";
  border-radius: 50%;
  background: #ccc;
  grid-column: 2;
  transition: background 0.2s;
}

input:checked + .switch {
  grid-template-columns: 1fr 1fr 0fr;
}

input:checked + .switch::after {
  background-color: #52cf71;
}

.infocard__header {
  padding: 4px;
  border-bottom: 1px solid;
  display: inline-block;
  width: 100%;
}

.infocard__header .infocard__title {
  float: left;
  display: inline-block;
}

.infocard__header .infocard__title small {
  float: right;
  margin-left: 10px;
}

.infocard__header .infocard__title h4 {
  float: left;
}

.infocard__header .infocard__info {
  float: right;
  display: inline-block;
}

.infocard__item {
  font-size: 20px;
}

.infocard__status i {
  display: block;
  padding: 8px;
  margin-right: 6px;
  color: #d67070;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0 20px;
}

.footer--floating .branding {
  float: right;
}

.branding__img--130 {
  width: 130px;
  height: 130px;
}

.list {
  padding: 0;
  margin-bottom: 10px;
}

.list--type-column {
  -moz-columns: 2;
       columns: 2;
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.list.list--type-column .list__text {
  width: 186px;
  display: block;
}

.list.list--type-column .list__text i.fa-folder-open {
  display: block;
  margin-bottom: 10px;
}

.form-control {
  font-size: 15px;
  padding: 15px;
  height: 100%;
  border-radius: 3px;
  background: transparent;
}

.form-group {
  margin-bottom: 25px;
}

form label {
  margin-bottom: 10px;
}

/* Pages */

