.list {

  &--vertical {
    padding-left: 35px;

    .list__item {
      padding: 0;
      display: block;
      overflow: hidden;
      position: relative;
    }

  }
  &--horizontal {

    display: inline;

    .link__nav__item {
      display: inline;
      margin: 0 10px;
      text-transform: uppercase;

      &:last-child {
        .item::after {
          background-color: transparent;
        }
      }

      .item {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 14px;
          width: 1px;
          background-color: #92b4b2;
          top: 1px;
          bottom: 0;
          right: -2px;
        }
      }
    }

  }

  .list__nav {
    padding: 0;
    margin: 0;
  }


}
